/* Reset default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }

  .inp1 {
    height: 150px;
  }
  
  .form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  p {
    text-align: center;
    margin-top: 15px;
  }
  
  a {
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  